@font-face {
  font-family: "Helvetica";
  src: local("Helvetica"),url("../public/assets/Helvetica.ttf") format("truetype");
  font-weight: bold;
 }

body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
